<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="__STATIC__/bootstrap-table/docs/dist/bootstrap-table.css">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="__STATIC__/bootstrap-table/docs/dist/bootstrap-table.js"></script>
    <script src="__STATIC__/bootstrap-table/docs/dist/locale/bootstrap-table-zh-CN.js"></script>

    <style>
        body{
            padding:2%;
        }
    </style>
</head>
<body>

<!--<table id="table"></table>-->

<!--<script>-->
    <!--$('#table').bootstrapTable({-->
    <!--url: 'http://issues.wenzhixin.net.cn/examples/bootstrap_table/data',-->
        <!--columns: [{-->
            <!--field: 'id',-->
            <!--title: 'Item ID'-->
        <!--}, {-->
            <!--field: 'name',-->
            <!--title: 'Item Name'-->
        <!--}, {-->
            <!--field: 'price',-->
            <!--title: 'Item Price'-->
        <!--}],-->
        <!--data: [{-->
            <!--id: 1,-->
            <!--name: 'Item 1',-->
            <!--price: '$1'-->
        <!--}, {-->
            <!--id: 2,-->
            <!--name: 'Item 2',-->
            <!--price: '$2'-->
        <!--}]-->
    <!--});-->

<!--</script>-->


<!--
<table class="table table-bordered">
    <caption>匹配酒店</caption>
    <thead>
    <tr>
        <th>ID</th>
        <th>名称</th>
    </tr>
    </thead>
    <tbody>
    {!!volist name='list' id='user'!!}
    <tr>
        <td>{!!$user.id!!}</td>
        <td>{!!$user.contact_name!!}</td>
    </tr>
    {!!/volist!!}
    </tbody>
</table>
<div>
    {!!$page!!}
</div>
-->

<div class="container">
    <h1>酒店列表</h1>
    <table id="table"
           data-toggle="table"
           data-url="http://issues.wenzhixin.net.cn/examples/bootstrap_table/data"
           data-height="526"
           data-side-pagination="server"
           data-pagination="true"
           data-page-list="[5, 10, 20, 50, 100, 200]"
           data-search="true">
        <thead>
        <tr>
            <th data-field="state" data-checkbox="true"></th>
            <th data-field="id">ID</th>
            <th data-field="name">名称</th>
            <th data-field="price">地址</th>
            <th data-field="ad">地址</th>
        </tr>
        </thead>
    </table>
</div>
<script>
    var $table = $('#table');
    $(function () {
    });
</script>



</body>
</html>